[build]
    publish = "public/"
    command = "hugo --gc --minify -b $([[ $CONTEXT = 'production' ]] && echo $URL || echo $DEPLOY_PRIME_URL)"

[build.environment]
    HUGO_VERSION = "0.139.3"
    NODE_VERSION = "22"

[context.production.environment]
    BUILD_IMAGE = "noble"

[context.deploy-preview.environment]
    BUILD_IMAGE = "noble"

[context.branch-deploy.environment]
    BUILD_IMAGE = "noble"

[[redirects]]
    from = "/*"
    to = "/404/"
    status = 404

[[headers]]
    for = "*.js"
    [headers.values]
        cache-control = '''
        public,
        max-age=31536000,
        immutable'''
[[headers]]
    for = "*.css"
    [headers.values]
        cache-control = '''
        public,
        max-age=31536000,
        immutable'''
[[headers]]
    for = "*.webp"
    [headers.values]
        cache-control = '''
        public,
        max-age=31536000,
        immutable'''
[[headers]]
    for = "*.png"
    [headers.values]
        cache-control = '''
        public,
        max-age=31536000,
        immutable'''
[[headers]]
    for = "*.ttf"
    [headers.values]
        cache-control = '''
        public,
        max-age=31536000,
        immutable'''
[[headers]]
    for = "*.webmanifest"
    [headers.values]
        cache-control = '''
        public,
        max-age=31536000'''
