<div class="personnel">
    <ul class="personnel__persons">
        {{ range $person := .Site.Params.personnel }}
        <li class="personnel__person">
            <div class="personnel__name">
                {{- $person.name | safeHTML -}}
            </div>
            <div class="personnel__image">
                {{
                    partial "img" (
                        dict
                        "context" .
                        "src" $person.image
                        "alt" ($person.name | safeHTML)
                        "sizes" (
                            slice
                            (slice 320 116 116)
                            (slice 375 144 144)
                            (slice 480 86 86)
                            (slice 640 126 126)
                            (slice 768 126 126)
                            (slice 2560 168 168)
                            (slice 3840 252 252)
                        )
                    )
                }}
            </div>
        </li>
        {{ end }}
    </ul>
    <div class="personnel__read-more-wrapper">
        <a href="{{- "tiimi/" | absLangURL -}}" class="personnel__read-more">
            {{- i18n "readMoreAboutOurTeam" -}}
        </a>
    </div>
</div>
