{{ $tag := default "div" (.Get "tag") }}

{{ $scratch := newScratch }}

{{ $scratch.Set "classes" "typography" }}
{{ $scratch.Set "addClasses" "" }}

{{ if .Get "type" }}
    {{ $scratch.Add "addClasses" (print " typography--type-" (.Get "type")) }}
{{ end }}

{{ if .Get "size" }}
    {{ $scratch.Add "addClasses" (print " typography--size-" (.Get "size")) }}
{{ end }}


{{ $scratch.Add "classes" ($scratch.Get "addClasses") }}

{{ if eq $tag "div" }}
<div class="{{- $scratch.Get "classes" -}}">
    {{ if eq (.Get "type") "info" }}
        <div class="typography__icon typography__icon--info">
            {{ partial "icon" (dict "context" . "icon" "info") }}
        </div>
    {{ end }}
    <div class="typography__content">
        {{- .Inner -}}
    </div>
</div>
{{ end }}
