.container {
    margin-left: auto;
    margin-right: auto;

    &--max-w {
        @each $key, $value in $breakpoint {
            &-#{$key} {
                max-width: em-to-rem($value);
            }
        }
    }

    &--min-h-100vh {
        min-height: 100vh;
    }

    &--center-content {
        &-h,
        &-v {
            display: flex;
        }

        &-h {
            justify-content: center;
        }

        &-v {
            align-items: center;
        }
    }

    &--p {
        &-xs {
            padding-left: 4px;
            padding-right: 4px;
        }

        &-sm {
            padding-left: 8px;
            padding-right: 8px;
        }

        &-md {
            padding-left: 16px;
            padding-right: 16px;
        }

        &-lg {
            padding-left: 24px;
            padding-right: 24px;
        }

        &-xl {
            padding-left: 32px;
            padding-right: 32px;
        }
    }

    &--m {
        &-sm {
            margin-bottom: 16px;

            @include bp-tablet-xs {
                margin-bottom: 24px;
            }
        }

        &-md {
            margin-bottom: 24px;

            @include bp-tablet-xs {
                margin-bottom: 48px;
            }
        }

        &-lg {
            margin-bottom: 48px;

            @include bp-tablet-xs {
                margin-bottom: 64px;
            }
        }

        &-xl {
            margin-bottom: 64px;

            @include bp-tablet-xs {
                margin-bottom: 80px;
            }
        }
    }

    &--align-text {
        &-center {
            text-align: center;
        }
    }
}
