.contact-details {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px 64px;
    justify-items: center;

    @include bp-tablet-xs {
        grid-template-columns: repeat(2, 1fr);
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include bp-tablet-xs {
            grid-column: 1;
            grid-row: 2;
        }

        & > div {
            display: flex;
            align-items: center;

            & + div {
                margin-top: 16px;
            }

            & > dt {
                font-size: 32px;
                margin-right: 16px;
            }

            & > dd {
                font-family: map-get($font, 'header');
                font-size: 20px;
                font-weight: 500;
                white-space: pre-line;
            }
        }
    }

    &__form-header {
        text-align: center;
        margin: 16px 0 0;

        @include bp-tablet-xs {
            margin: 0;
            grid-column: 2;
            grid-row: 1;
        }
    }

    &__form {
        @include bp-tablet-xs {
            grid-column: 2;
            grid-row: 2;
        }
    }
}
