.hero-default {
    margin: 0 auto 80px auto;

    @include bp($max: map-get($breakpoint, 'tablet-xs')) {
        & + * {
            padding-top: 32px;
        }
    }

    @include bp-tablet-md {
        margin: 0 auto 32px;
    }

    &__main-content {
        max-width: em-to-rem(map-get($breakpoint, 'tablet-xxl'));
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: clamp(0vw, 50vw, 340px) 0;

        & > img {
            user-select: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 30% 12%;

            @include bp-mobile-lg {
                object-position: 0% 30%;
            }

            @include bp-mobile-xl {
                object-position: 0% 40%;
            }

            @include bp-tablet-md {
                width: 60%;
                height: 100%;
            }
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #fff, rgba(#fff, 0.4), transparent 30%);

        @include bp-tablet-md {
            background: linear-gradient(45deg, #fff 5%, transparent 25%, transparent 50%, #fff 70%);
        }
    }

    &__logo-content-container {
        position: absolute;
        bottom: -80px;
        width: clamp(0%, 60%, 320px);
        display: flex;
        flex-direction: column;
        align-items: center;

        @include bp-mobile-lg {
            width: clamp(0%, 50%, 320px);
        }

        @include bp-tablet-md {
            bottom: 32px;
        }

        @include bp-tablet-md {
            width: 40%;
            right: 32px;
        }
    }

    &__logo {
        width: 100%;

        svg {
            width: 100%;

            @include themify {
                fill: themed('color', 'main', '1');
                filter:
                        drop-shadow(1px 1px 0 rgba(themed('color', 'complementary', '2'), 0.2))
                        drop-shadow(0 0 4px rgba(themed('color', 'complementary', '2'), 0.4))
                        drop-shadow(0 0 16px rgba(themed('color', 'complementary', '2'), 0.2));
            }

            @include bp-tablet-md {
                @include themify {
                    fill: themed('color', 'main', '2');
                    filter:
                        drop-shadow(0 1px 0 themed('color', 'main', '3'))
                        drop-shadow(0 0 16px themed('color', 'complementary', '1'));
                }
            }
        }
    }

    &__subtitle {
        display: none;

        @include bp-tablet-md {
            display: block;
            margin: 24px 0 0;
            font-family: map-get($font, 'header');
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.4;
            max-width: 244px;

            @include themify {
                color: themed('color', 'main', '3');
            }
        }

        @include bp-tablet-lg {
            font-size: 18px;
            max-width: 323px;
        }
    }

    &__cta-container {
        text-align: center;
        margin-top: 24px;
        font-size: 16px;

        @include bp-tablet-md {
            font-size: 18px;
        }
    }

    &__decoration {
        display: none;

        @include bp-tablet-md {
            display: block;
            position: absolute;
            right: 0;
            bottom: -32px;
            width: 25%;
            opacity: 0.35;

            @include themify {
                fill: themed('color', 'main', '2');
            }
        }

        @include bp-desktop-xs {
            right: -32px;
        }
    }
}
