.main-footer-default {
    @include themify {
        background: themed('color', 'complementary', '2');

        &,
        a {
            color: themed('color', 'main', '1');
        }
    }

    &__content {
        max-width: em-to-rem(map-get($breakpoint, 'tablet-xxl'));
        margin: 0 auto;
        padding: 64px 16px 32px;
    }

    &__main-content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px 16px;
        margin-bottom: 32px;

        @include bp-tablet-xs {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__column {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        &--left {
            @include bp-tablet-xs {
                justify-content: flex-start;
                text-align: left;
            }
        }

        &--center {
            order: -1;

            @include bp-tablet-xs {
                order: 0;
            }
        }

        &--right {
            flex-direction: column;

            @include bp-tablet-xs {
                align-items: flex-end;
                text-align: right;
            }
        }
    }

    &__nav {
        ul {
            li {
                & + li {
                    margin-top: 16px;
                }

                a {
                    &[aria-current='page'] {
                        font-weight: 600 !important;
                    }
                }
            }
        }
    }

    &__logo {
        width: 160px;
        max-width: 100%;

        svg {
            width: 100%;
        }
    }

    &__social-media-links {
        display: flex;
        justify-content: center;
        align-items: center;

        & > div {
            & + div {
                margin-left: 8px;
            }
        }
    }

    &__social-media {
        display: block;
        font-size: 24px;
    }

    &__contact-info {
        overflow: hidden;
        margin-bottom: 8px;

        & > div {
            display: flex;
            justify-content: center;
            align-items: baseline;

            @include bp-tablet-xs {
                justify-content: flex-start;
                flex-direction: row-reverse;
            }

            & + div {
                margin-top: 8px;
            }

            & > dt {
                font-size: 24px;
                margin-right: 8px;

                @include bp-tablet-xs {
                    margin-right: 0;
                    margin-left: 8px;
                    transform: scaleX(-1);
                }
            }
        }
    }

    &__credits {
        text-align: center;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        text-align: center;
        font-size: 12px;
    }

    &__credit {
        font-weight: 600;
        text-transform: uppercase;
    }

    &__legal-links {
        display: flex;
        gap: 1.5rem;

        a {
            opacity: 0.7;
            transition: opacity 0.2s ease-out;

            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }
}
