table {
    width: 100%;
    border-collapse: separate;

    & + p {
        margin-top: 16px;
        text-align: center;

        &::before {
            content: '(';
        }

        &::after {
            content: ')';
        }
    }

    tr {
        td {
            @include dotted-border($width: 1px, $type: 'bottom', $color: '4');
        }

        &:last-child:not(:only-child) {
            td {
                &::after {
                    display: none;
                    border-bottom: none;
                }
            }
        }
    }

    th,
    td {
        vertical-align: middle;
    }

    th {
        @include vhidden;

        padding: 16px;
        font-weight: 700;
        border-bottom: 2px solid;

        @include themify {
            border-color: themed('color', 'main', '4');
        }
    }

    td {
        padding: 8px 16px;

        &:last-child {
            font-weight: 600;
        }
    }
}
