<div id="cookie-consent-banner" class="cookie-consent" data-hidden="true">
    <div class="cookie-consent__content">
        <p class="cookie-consent__text">
            {{- i18n "cookieConsentText" | safeHTML -}}
        </p>
        <div class="cookie-consent__actions">
            <button type="button" id="cookie-consent-accept" class="cookie-consent__button cookie-consent__button--accept">
                {{- i18n "cookieConsentAccept" -}}
            </button>
            <button type="button" id="cookie-consent-decline" class="cookie-consent__button cookie-consent__button--decline">
                {{- i18n "cookieConsentDecline" -}}
            </button>
        </div>
    </div>
</div>

