{{ if eq .Params.hero "default" }}

<header class="hero-default">
    <div class="hero-default__main-content">
        <h1 class="vhidden">{{- .Params.heroHeader | safeHTML -}}</h1>
        {{ if .Params.heroImage }}
        {{
            partial "img" (
                dict
                "context" .
                "src" .Params.heroImage
                "alt" (.Params.heroHeader | safeHTML)
                "loading" "eager"
            )
        }}
        {{ end }}
        <div class="hero-default__overlay"></div>
        {{ if .Params.heroShowDecor }}
        <div class="hero-default__decoration">
            {{- "themes/studio-fika/assets/decorations/decor-4.svg" | readFile | safeHTML -}}
        </div>
        {{ end }}
        {{ if .Params.heroLogo }}
        <div class="hero-default__logo-content-container">
            <div class="hero-default__logo">
                {{- .Params.heroLogo | readFile | safeHTML -}}
            </div>
            {{ if .Params.heroSubtitle }}
            <h2 class="hero-default__subtitle">
                {{- .Params.heroSubtitle | safeHTML -}}
            </h2>
            {{ end }}
            {{ if .Params.heroCtaText }}
            <div class="hero-default__cta-container">
                <span class="cta cta--type-solid">
                    <a href="{{- .Params.heroCtaHref | absLangURL -}}" class="cta__button">
                        {{- .Params.heroCtaText | safeHTML -}}
                    </a>
                </span>
            </div>
            {{ end }}
        </div>
        {{ end }}
    </div>
</header>

{{ end }}
