{{ if eq .Params.hero "default" }}

<header class="hero-default">
    <div class="hero-default__main-content">
        {{ if .Params.heroImage }}
        {{
            partial "img" (
                dict
                "context" .
                "src" .Params.heroImage
                "alt" (.Params.heroHeader | safeHTML)
                "loading" "eager"
            )
        }}
        {{ end }}
        {{ if .Params.heroLogo }}
        <div class="hero-default__logo">
            {{- .Params.heroLogo | readFile | safeHTML -}}
        </div>
        {{ end }}
        <h1 class="vhidden">{{- .Params.heroHeader | safeHTML -}}</h1>
    </div>
</header>

{{ end }}
