{{ if eq .Params.hero "default" }}

<header class="hero-default">
    <div class="hero-default__main-content">
        <h1 class="vhidden">{{- .Params.heroHeader | safeHTML -}}</h1>
        {{ if .Params.heroImage }}
        {{
            partial "img" (
                dict
                "context" .
                "src" .Params.heroImage
                "alt" (.Params.heroHeader | safeHTML)
                "loading" "eager"
                "sizes" (
                    slice
                    (slice 320 320)
                    (slice 375 375)
                    (slice 480 480)
                    (slice 540 540)
                    (slice 640 640)
                    (slice 720 720)
                    (slice 768 768)
                    (slice 800 800)
                    (slice 900 540)
                    (slice 1024 615)
                    (slice 1080 648)
                    (slice 1200 720)
                    (slice 2560 958)
                    (slice 3840 1440)
                )
            )
        }}
        {{ end }}
        <div class="hero-default__overlay"></div>
        {{ if .Params.heroShowDecor }}
        <div class="hero-default__decoration">
            {{- "themes/studio-fika/assets/decorations/decor-4.svg" | readFile | safeHTML -}}
        </div>
        {{ end }}
        {{ if .Params.heroLogo }}
        <div class="hero-default__logo-content-container">
            <div class="hero-default__logo">
                {{- .Params.heroLogo | readFile | safeHTML -}}
            </div>
            {{ if .Params.heroSubtitle }}
            <h2 class="hero-default__subtitle">
                {{- .Params.heroSubtitle | safeHTML -}}
            </h2>
            {{ end }}
            {{ if .Params.heroCtaText }}
            <div class="hero-default__cta-container">
                <span class="cta cta--type-solid">
                    <a href="{{- .Params.heroCtaHref | absLangURL -}}" class="cta__button">
                        {{- .Params.heroCtaText | safeHTML -}}
                    </a>
                </span>
            </div>
            {{ end }}
        </div>
        {{ end }}
    </div>
</header>

{{ end }}
